.nav{
	top: 0px;
	left: 0px;
}

.container{

	max-width: 1190px;
	width: auto;
	margin: 0 auto;
}

.front-page{

	margin-top: 8%;
}
body{
	background-color: #3a92c8;
	background: radial-gradient(circle,#94d2f8,#3a92c8);
}