.nav{
	top: 0px;
	left: 0px;
}

/*.container{

	max-width: 1190px;
	width: auto;
	margin: 0 auto;
}
*/
/*.content{

	margin-top: 8%;
}*/

.front-page{

	margin-top: 8%;
}
body{
	background-color: #3a92c8;
	background: radial-gradient(circle,#94d2f8,#3a92c8);
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	color: #555555;
}
*{
	margin: 0;
}
html, body {
  height: 100%;
  font-size: 15px;
}
.page-container{
	padding-right: 20px;
	padding-left:20px;
	margin-top: 12px !important;
	background-color: #f0f2f0;
}
.wrapper
{
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;

  background-color: #f0f2f0;
}
.wrapper:after {
  content: "";
  display: block;
}
.page-footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 142px; 
  padding-top: 20px;
}
.post .post-body
{
	overflow: hidden;
	padding: 20px 32px;
	clear:both;
}
.post .post-image
{
	overflow: hidden;
}

.post .post-image img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.post
{
	padding: 10px 0px 30px 0px;
	background-color: white;
	border-bottom: 3px solid #ddd;
	margin-top: 20px;
}
.post .post-header
{
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}
.post-header hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	/* padding: 0; */
	clear: both;
	width: 99%;
	margin: auto;
}
.post .post-header a 
{
	text-decoration: none;
}
.post .post-header .profile-pic
{
	float:left;
	height:75px;
}
.content-area
{
	background: white;
	border-bottom: 3px solid #ddd;
	padding:0 !important;
}
.content-area .page-content
{
	padding:30px 30px 30px 30px;

}
.comment-field textarea.new-comment
{
	min-height: 1em;
	width: 43em;
	height: 3em;
	margin-left: 10px;
	overflow:hidden
}

.comment-field img
{
	height: 50px;
	padding-left: 30px;
}

.user-comment{
	margin-top: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}
.user-comment img
{
	height: 50px;
	padding-left: 30px;
	float:left;

}
.user-comment .comment-content
{	
	width: 40em;
	margin-left: 10px;
	float:right;
}
.date-commented
{
	text-align: right;
	margin-right: 45px;
	font-size: 10px;

}
.container{
	max-width: 1190px;
	width: auto;
	margin: 0 auto;
}

.content{

	margin-top: 8%;
}
table.comment-table
{
}
table.post-table
{
	width: 600px !important;
}

#user-table tbody tr:hover
{
	cursor: pointer;
}